body {
  background: #ffffff;
  font-family: "Roboto";
  src: url(fil/Roboto.ttf) format("truetype");
  overflow-x: hidden;
}

#centred {
  display: block;
  margin: auto;
  width: 30%;
}

header {
  display: block;
  background: url(vinyles-artistes/fond-top.jpg);
  background-size: cover;
}

.fallinlove {
  font-family: "Fall in Love";
  src: url(fil/Fall\ in\ love.ttf) format("truetype");
}

/*

Premiere navBar

*/
.navbar {
  color: #fff;
  background: #936dde00 !important;
  padding: 5px 16px;
  border-radius: 0;
  border: none;
}
.navbar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.navbar .navbar-brand {
  color: #efe5ff;
  padding-left: 0;
  padding-right: 50px;
  font-size: 24px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
}
.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}
.search-box {
  position: relative;
}
.search-box input {
  padding-right: 35px;
  min-height: 38px;
  border: none;
  background: #b1acb69a;
  border-radius: 22px !important;
  -webkit-border-radius: 22px !important;
  -moz-border-radius: 22px !important;
  -ms-border-radius: 22px !important;
  -o-border-radius: 22px !important;
}
.search-box input:focus {
  background: #fff;
  box-shadow: none;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: auto;
  z-index: 9;
  padding: 10px 7px;
  height: 100%;
}
.search-box i {
  color: #cd878986;
  font-size: 19px;
}
.navbar .nav-item i {
  font-size: 30px;
}
.navbar .nav-item span {
  position: relative;
  top: 3px;
}
.navbar .navbar-nav > a {
  color: #4b0bb3;
  padding: 8px 15px;
  font-size: 14px;
}
.navbar .navbar-nav > a:hover,
.navbar .navbar-nav > a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgb(221, 221, 221);
}
.navbar .navbar-nav > a > i {
  display: block;
  text-align: left;
}

/* 

Deuxieme nav

*/

.primary-navigation {
  margin: 0 auto;
  display: block;

  padding: 12px 0 120px 0;
  text-align: center;
  font-size: 16px;
  z-index: auto;
}
.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.dropdown a {
  color: #020103;
  font-size: 20px;
}

.primary-navigation .menud {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.primary-navigation li a:hover {
  color: #ffffff;
  text-shadow: 0 0 4px rgb(255, 254, 254);
}

.primary-navigation .active{
  color: #694748;
  text-shadow: 0 0 4px rgb(255, 254, 254);
}

.primary-navigation li:hover {
  cursor: pointer;
}

.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: #a15b5daf;
  z-index: 10000;
}

.primary-navigation ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #a33b5a;
}

.filariane{
  width: 100%;
  height: 20px;
  text-align: left;
  font:bold;
  background: transparent;

}

/* 

Incontournables versionn desktop

*/

.titre {
  margin-left: 10%;
}

.incontournables_desk {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

div.gallery {
  position: relative;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 20%;
}

.actived{
  color:#c88284;
}

.rot{
  display: flex;
}

div.galleriz {
  margin: 5px;
  border: 1px solid #ccc;
  /**/
  width: 20%;
  flex: 1;
  padding: 0;
  
}

div.cate{
  display: inline;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.nos{
  padding: 15px;
  text-align: center;
  justify-content: center;
    color:white;

  background-color: #6361618a;
}

div.selec {
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.enbas{
  padding-top: 10%;
}

.enbas i{
  font-size: 20px;
}
.enbas> i:hover,
.enbas> i:focus {
  color: rgb(252, 235, 0);
  text-shadow: 0 0 4px rgb(129, 14, 14);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown ul{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: #a15b5daf;
  z-index: 10000;
}

.dropdown:hover > ul{
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

.dropdown-content ul li{
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  bottom: 33%;
  left: 0;
  right: 0;
  background-color: #c983854d;
  background-size: contain;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

div.gallery:hover .overlay {
  height: 67%;
}

.alainterieur {
  display: block;
  font-size: 30px;
  
}

.overr{
 margin-left: 10px;
 float: right;
}

.overl{
  margin-right: 10px;
  float: left;
  bottom: 10px;
}



/* 

Rienlouper version desktop

*/

.rienlouper_desk {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: column;

  position: relative;
}

div.rienlouper_desk div.row {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.rowh {
  visibility: collapse;
}
.bouton { 
  position: absolute; right: 0;  width: 150px;  transform: translateY(-50%);
  justify-content: center;
  margin: auto;
}
.plus {
  background-color: #d59299; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.plus:hover {
  opacity: 0.75;
}

/*        

		Artistes Carousel

	*/

  .page-link{
    color:#c98385;
  }

  .page-link:hover{
        color:#c98385;

    background-color: #c983854d ;
  }

.splide__slide {
  justify-content: center;
}

.splide__slide p {
  color: rgba(255, 255, 255, 0);
}

.splide__slide img {
  border-radius: 50%;
}

/*        

		Footer

*/

footer {
  font-size: 20px;
  background: url(vinyles-artistes/fond-bottom.jpg);
  background-size: cover;
}

.hr-lines {
  overflow: hidden;
  text-align: center;
}
.hr-lines:before,
.hr-lines:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}
.hr-lines:before {
  right: 0.5em;
  margin-left: -50%;
}
.hr-lines:after {
  left: 0.5em;
  margin-right: -50%;
}

.card {
  background-color: #cfbcbcbb;
  border-radius: 10px;
}

.fa {
  color: #d59299;
  background: transparent;
}

#inp1 {
  background-color: #222222;
  border: 1px solid #636161;
  font-size: 0.75rem;
}

#inp1:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  background-color: #c68082;
  font-size: 0.78rem;
  border: 0px;
}

.btn :hover {
  opacity: 0.8;
}

.container-fluid .footer-icon > i:hover,
.container-fluid .footer-icon > i:focus {
  color: #fff;
  text-shadow: 0 0 4px rgb(255, 254, 254);
}

.logos-vente {
  display: flex;
  justify-content: center;
}

.garanti {
  margin-left: 100px;
}

.fin {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  vertical-align: baseline;
  border-top: 1px solid #636161;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 350px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px) {
  .navbar .navbar-nav > a > i {
    display: inline-block;
    text-align: left;
    min-width: 30px;
    position: relative;
    top: 4px;
  }
  .navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
  }
  .navbar .navbar-nav {
    margin: 8px 0;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
  }
  .input-group {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  div.gallery {
    width: 44%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
